*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: iran-yekan;
}
@font-face {
    font-family: 'iran-yekan'; 
     src: url(./font/BYekan+\ Bold.ttf); 
    src: url(./font/BYekan+.ttf);

}
.login {
width: fit-content ;
margin: auto;
 margin-top: 10%; 
}
.outline{
    outline-color:rgb(0, 179, 255);
}
.lgin{
    margin: inherit;
}